/* Variables */

:root {
    --main-bg-color: hsla(2, 0%, 15%, 0.60);
    --more-opaque-bg-color: hsla(2, 0%, 15%, 0.85);
    --accent-main-bright: #A0C8BF;
    --accent-main-dark: #188177;
    
    --primary-header-font: 'Overpass', sans-serif;
    --primary-body-font: 'Roboto Slab', serif;
}



/* General Defaults */

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-body-font);
    min-width: 200px;
    min-height: 100svh;
    padding-top: 48px; /*space for fixed-position header*/
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
}

a {
    color: white;
}



/* Backgrounds */

body {
    background-color: black;
    background-attachment: fixed;
    background-image: url("../images/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.trans-bg {
    background-color: var(--main-bg-color);
}

.darker-bg {
    background-color: var(--more-opaque-bg-color);
}



/* Layouts */

.listable {
    background-color: var(--main-bg-color);
}

.listable h3 {
    text-align: left;
}


.main-wrapper {
    margin: 0.5rem 1%;
    border-radius: 0.5rem; 
    padding: 1rem;
    padding-top: 0;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: clip;
    z-index: 1;
}

/*hides the extra main-wrapper when using a hugo "main-no-wrapper" block. This
 * was done in order to fix the padding issues on the blog single. Could be 
 * improved probably. */
.main-wrapper:empty {
    display: none;
}

.main-wrapper section {
    padding-top: 2em;
    width: 100%;
    max-width: 650px;
}

@media screen and (min-width: 900px) {
    .main-wrapper section {
        max-width: min(45%, 650px);
    }
}

@media screen and (min-width: 1500px) {
    .main-wrapper section {
        max-width: min(30%, 650px);
    }
}



/* Elements */

.big-heading {
    font-size: 1.5rem;
    font-family: var(--primary-header-font);
    margin-bottom: 1rem;
}

.small-heading {
    font-size: 1.5rem;
    font-family: var(--primary-body-font);
    margin-bottom: 1rem;
}


.bc-player {
    max-width: 650px;
}

.tiktok-embed {
    max-width: 780px; 
}


.page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-height: min(20vh, 25vw);
    padding: 0.5rem 5% 0;
}

.page-heading img {
    max-height: 100%;
    filter: drop-shadow(-5px 5px 5px black);
}

.page-heading h1 {
    font-size: 2.5rem;
    font-family: var(--primary-header-font);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.25em;
    filter: drop-shadow(5px 5px 2px black);
    margin-left: 1rem;
}

@media screen and (min-width: 770px) {
    .page-heading h1 {
        font-size: 3.5rem;
        margin-left: 2rem;
    }
}


div.summary {
    padding: 1em;
    position: relative;
    text-align: left;
    line-height: 1.5em; 
    min-height: 5em;
}

.summary img, 
.summary iframe{
    display: none;
}

.summary h1, 
.summary h2, 
.summary h3, 
.summary h4, 
.summary h5, 
.summary h6 {
    font-weight: 500;
    padding-bottom: 2px;
    margin-top: 5px;
    display: block;
    width: max-content;
}

.summary p {
    font-weight: 300;
}

.summary .read-more {
    padding-bottom: 1em;
    display: block;
    background: linear-gradient(to top, var(--more-opaque-bg-color) 20%, hsla(2, 0%, 15%, 0));
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

.read-more a {
    color: var(--accent-main-bright);
    text-decoration: none;
    pointer-events: auto;
}



.img-overlay-wrapper {
    position: relative;
}

.img-overlay {
    padding: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top right, var(--more-opaque-bg-color), hsla(2, 0%, 15%, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}



/* Header and Footer */

header, footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    margin-bottom: 1.5rem;
    font-family: var(--primary-header-font);
    font-size: 1.4rem;
    background-color: var(--more-opaque-bg-color);
    display: flex;
    justify-content: center;
}

.header-hide {
    top: -55px;
}

.header-nav {
    width: 800px;
    max-width: 100%;
}

.header-nav ul {
    margin: 0.25em 0em;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 300px) {
    .header-nav ul {
        justify-content: left;
        overflow: scroll;
    }
}

.nav-button {
    text-decoration: none;
    display: block;
    padding: .50em 0.25em 0.25em 0.25em;
    border-radius: 0.25em;
    white-space: nowrap;
    overflow: hidden;
}

header li:last-child .nav-button {
    background-color: var(--accent-main-bright);
    color: black;
    font-weight: bold;
}


footer {
    margin-top: auto;
    padding: 1em;
    color: var(--accent-main-dark);
    font-size: .8rem;
}

footer a {
    color: var(--accent-main-bright);
    text-decoration: none;
}



/* Main logo */

.main-logo {
    max-width: 85%;
    max-height: 70%;
    filter: drop-shadow(-5px 5px 5px black);
}

.main-logo-wrapper h1 {
    padding: 1em;
    font-size: 1.2rem;
    color: var(--accent-main-bright);
    max-width: 300px;
    text-transform: uppercase;
    font-style: italic;
    font-family: var(--primary-header-font);
}

.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.main-logo-wrapper {
    height: 75vh;
    height: 75svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo-wrapper .icon {
    filter: invert(100%) opacity(40%);
    max-height: 2rem;
}

.main-logo-wrapper .icon > img {
    max-width: 4.5rem;
}



/* Blog */

.blog-article {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 200;
    text-align: left;
    width: 100%;
    max-width: 800px;
    padding: 1em;
}

.blog-article p {
    line-height: 1.5em;
    font-weight: 300;
    text-indent: 1em;
}

.blog-article .blog-title, 
.blog-article h1, 
.blog-article h2, 
.blog-article h3, 
.blog-article h4, 
.blog-article h5, 
.blog-article h6 {
    font-family: var(--primary-body-font);
    font-size: 1.1em;
    padding: 1em 0;
    font-weight: 500;
}

.blog-article ul, 
.blog-article ol{
    line-height: 2.5em;
    text-indent: 0.2em;
    margin-left: 2.5em;
    margin-top: 0.5em;
}

.blog-article ul {
    list-style-type: disc;
}

.blog-article ol {
    list-style-type: number;
}

.blog-article a {
    color: var(--accent-main-bright);
}

.blog-article .blog-title {
    padding-top: 0.5em;
    font-size: 1.5em;
}

.blog-article .blog-title-wrapper {
    filter: drop-shadow(-2px 2px 5px black);
    border-bottom: 2px solid var(--accent-main-dark);
    margin-bottom: 0.5em;
}

.blog-article .blog-date {
    display: block;
    font-size: 0.8em;
    color: var(--accent-main-bright);
    margin: -0.8em 0 0.5em 0;
}

.blog-article h1 {
    font-size: 1.2em;
}

.blog-article h2, 
.blog-article h3, 
.blog-article h4, 
.blog-article h5, 
.blog-article h6 {
    text-indent: 1em;
}

.blog-article em {
    font-style: italic;
}

.blog-article strong {
    font-weight: bold;
}

.blog-article img,
.blog-article iframe {
    margin: auto;
    width: auto;
    max-height: 650px;
    max-width: min(650px, 100%);
    padding: 1em 0;
}

.blog-article iframe {
    width: 650px;
    height: min(60vw, 433px);
}


/* Follow us */
section.social-links {
    width: 650px;
    max-width: 90vw;
}

.social-links a {
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 2px solid black;
    background-color: var(--accent-main-bright);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
}



/* 404 */

section.four-oh-four-message {
    font-family: var(--primary-header-font);
    width: 400px;
    max-width: 90vw;
}

.four-oh-four-message h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.four-oh-four-message h2 {
    font-size: 3em;
    font-weight: bold;
    color: var(--accent-main-bright);
    margin-bottom: 1em;
}

.four-oh-four-message p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

.four-oh-four-message a {
    color: var(--accent-main-bright);
}
