/* Variables */

:root {
    --main-bg-color: hsla(2, 0%, 15%, 0.60);
    --more-opaque-bg-color: hsla(2, 0%, 15%, 0.85);
    --accent-main-bright: #A0C8BF;
    --accent-main-dark: #188177;
    
    --primary-header-font: 'Overpass', sans-serif;
    --primary-body-font: 'Roboto Slab', serif;
}



/* General Defaults */

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-body-font);
    min-width: 200px;
    min-height: 100svh;
    padding-top: 48px; /*space for fixed-position header*/
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
}

a {
    color: white;
}



/* Backgrounds */

body {
    background-color: black;
    background-attachment: fixed;
    background-image: url("../images/bg01-gradient-1440-comp75.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.trans-bg {
    background-color: var(--main-bg-color);
}



/* Layouts */

.listable {
    background-color: var(--main-bg-color);
}


.main-wrapper {
    margin: 0.5rem 1%;
    border-radius: 0.5rem; 
    padding: 1rem;
    padding-top: 0;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-wrapper section {
    padding-top: 2em;
    width: 100%;
    max-width: 650px;
}

@media screen and (min-width: 900px) {
    .main-wrapper section {
        max-width: min(45%, 650px);
    }
}

@media screen and (min-width: 1500px) {
    .main-wrapper section {
        max-width: min(30%, 650px);
    }
}



/* Elements */

.big-heading {
    font-size: 1.5rem;
    font-family: var(--primary-header-font);
    margin-bottom: 1rem;
}

.small-heading {
    font-size: 1.5rem;
    font-family: var(--primary-body-font);
    margin-bottom: 1rem;
}


.bc-player {
    max-width: 650px;
}

.tiktok-embed {
    max-width: 780px; 
}


.page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-height: min(20vh, 25vw);
    padding: 2rem;
}

.page-heading img {
    height: auto;
    width: 30%;
    filter: drop-shadow(5px 5px 5px black);
    z-index: -5;
}

.page-heading h1 {
    font-size: 2.5rem;
    font-family: var(--primary-header-font);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.25em;
    filter: drop-shadow(5px 5px 5px black);
    margin-left: 1rem;
}

@media screen and (min-width: 770px) {
    .page-heading h1 {
        font-size: 3.5rem;
        margin-left: 2rem;
    }
}


div.summary {
    padding: 1em;
    position: relative;
    text-align: left;
    line-height: 1.5em; 
    min-height: 5em;
}

.summary img {
    display: none;
}

.summary .read-more {
    padding-bottom: 1em;
    display: block;
    background: linear-gradient(to top, var(--more-opaque-bg-color) 20%, hsla(2, 0%, 15%, 0));
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

.read-more a {
    color: var(--accent-main-bright);
    text-decoration: none;
    pointer-events: auto;
}


.img-overlay-wrapper {
    position: relative;
}

.img-overlay {
    padding: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top right, var(--more-opaque-bg-color), hsla(2, 0%, 15%, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}



/* Header and Footer */

header, footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    margin-bottom: 1.5rem;
    font-family: var(--primary-header-font);
    font-size: 1.4rem;
    background-color: var(--more-opaque-bg-color);
    display: flex;
    justify-content: center;
}

.header-hide {
    top: -55px;
}

.header-nav {
    width: 800px;
    max-width: 100%;
}

.header-nav ul {
    margin: 0.25em 0em;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 300px) {
    .header-nav ul {
        justify-content: left;
        overflow: scroll;
    }
}

.nav-button {
    text-decoration: none;
    display: block;
    padding: .50em 0.25em 0.25em 0.25em;
    border-radius: 0.25em;
    white-space: nowrap;
    overflow: hidden;
}

header li:last-child .nav-button {
    background-color: var(--accent-main-bright);
    color: black;
    font-weight: bold;
}


footer {
    margin-top: auto;
    padding: 1em;
    color: var(--accent-main-dark);
    font-size: .8rem;
}

footer a {
    color: var(--accent-main-bright);
    text-decoration: none;
}



/* Homepage / index.html */

/* Main logo */

.main-logo {
    max-width: 85%;
    max-height: 70%;
}

.main-logo-wrapper {
    height: 75vh;
    height: 75svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo-wrapper .icon {
    filter: invert(100%) opacity(40%);
    max-height: 2rem;
}

.main-logo-wrapper .icon > img {
    max-width: 4.5rem;
}



/* Follow us */

.social-link {
    display: block;
    margin-bottom: 1em;
    border: 2px solid grey;
    border-radius: 0.5em;
    background-color: var(--more-opaque-bg-color);
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em;
}
