/* Variables */

:root {
    --main-bg-color: hsla(2, 0%, 15%, 0.60);
    --more-opaque-bg-color: hsla(2, 0%, 15%, 0.95);
    --accent-main-bright: #7BE7DC;
    --accent-main-dark: #188177;
    
    --primary-header-font: 'Staatliches', sans;
}


/* General Defaults */

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    min-width: 200px;
    min-height: 100svh;
    padding-top: 48px; /*space for fixed-position header*/
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
}


/* Main Background */

body {
    background-color: black;
    background-attachment: fixed;
    background-image: url("../images/bg01-gradient-1440-comp75.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}


/* Site-wide styles */

.big-heading {
    font-size: 2rem;
    font-family: var(--primary-header-font);
    margin-bottom: 1rem;
}

.trans-bg {
    background-color: var(--main-bg-color);
}

.main-wrapper {
    margin: 0.5rem 1%;
    border-radius: 0.5rem; 
    padding: 1rem;
    max-width: 1700px;
}

.main-wrapper section:not(:first-child) {
    padding-top: 2em;
}

a {
    color: white;
}

.summary {
    text-align: left;
    line-height: 1.5em; 
}

.read-more {
    padding-top: 1em;
    display: block;
}

.img-overlay-wrapper {
    position: relative;
}

.img-overlay {
    padding: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top right, var(--more-opaque-bg-color), hsla(2, 0%, 15%, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.bc-player {
    max-width: 650px;
}


/* Header and Footer */

header, footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    margin-bottom: 1.5rem;
    font-family: var(--primary-header-font);
    font-size: 1.5rem;
    background-color: var(--more-opaque-bg-color);
    display: flex;
    justify-content: center;
}

.header-hide {
    top: -50px;
}

.header-nav {
    width: 800px;
    max-width: 100%;
}

.header-nav ul {
    margin: 0.25em 0em;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
}

@media screen and (max-width: 300px) {
    .header-nav ul {
        justify-content: left;
    }
}

header a {
}

.nav-button {
    text-decoration: none;
    display: block;
    padding: 0.25em;
    border-radius: 0.25em;
    white-space: nowrap;
    overflow: hidden;
}

header li:last-child .nav-button {
    background-color: var(--accent-main-bright);
    color: black;
}


footer {
    margin-top: auto;
    padding: 1em;
    color: var(--accent-main-dark);
    font-size: .8rem;
}

footer a {
    color: var(--accent-main-bright);
    text-decoration: none;
}


/* Homepage / index.html */

/* Main logo */
.main-logo {
    max-width: 90%;
    max-height: 70%;
}

.main-logo-wrapper {
    height: 75vh;
    height: 75svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo-wrapper .icon {
    filter: invert(100%) opacity(40%);
    max-height: 2rem;
}

    .main-logo-wrapper .icon > img {
        max-width: 4.5rem;
    }

    /* TikTok */

    .tiktok-wrapper-outer {
        container-type: size;
        display: flex;
        justify-content: center;
        height: 420px;
        border-radius: 1.5em;
    }

    .tiktok-wrapper-outer * {
        margin: 0 !important;
        padding: 0 !important;
    }

    .tiktok-wrapper-inner {
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 1.5em;
        width: 100%;
    }

    @container (max-width: 414px) {
        .tiktok-wrapper-inner {
            justify-content: left;
            height: 400px;
        }
    }

    .tiktok-embed {
        border-radius: 1.5em;
        max-width: 780px; 
        min-width: 380px; 
    }


    /* Listables */
    .listable {
        background-color: var(--main-bg-color);
    }

    .listable .summary {
        padding: 1em;
}


/* Follow us */

.social-link {
    display: block;
    margin-bottom: 1em;
    border: 2px solid grey;
    border-radius: 0.5em;
    background-color: var(--more-opaque-bg-color);
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em;
}
