<div class="listable blog-listable">
    <a href="{{ .RelPermalink }}">
        <div class="img-overlay-wrapper">
            <!-- Chooses an image based on these preferences:
                a) from the blog post the name matches the Featured Image field
                b) from the blog post, any images
                c) the default blog image stored in the /assets directory
            -->
            {{ $imgNamedFeatured := index (.Resources.Match (printf "*%s*" .Params.featuredImg)) 0 }}
            {{ $imgFromBlog := index (.Resources.ByType "image") 0 }}
            {{ $imgDefault := resources.Get "/images/default-blog-image.webp" }}
            {{ $img := (($imgNamedFeatured | default $imgFromBlog) | default $imgDefault) }}
            {{ $img := $img.Fill "650x433 Center webp" }}
            <img src="{{ $img.RelPermalink }}" alt="">
            <div class="img-overlay">
                <h3 class="big-heading">{{ .Title }}</h3>
            </div>
        </div>
    </a>
    <div class="summary">
        {{ .Content | truncate 700 | safeHTML }}
        <div class="read-more">
            <a href="{{ .RelPermalink }}">read more</a>
        </div>
    </div>
</div>
