<div class="listable blog-listable">
    <a href="{{ .RelPermalink }}">
        <div class="img-overlay-wrapper">
            {{ range first 1 (.Resources.Match "*featured*" | default (.Resources.ByType "image")) }}
                <img src="{{ .RelPermalink }}" alt="">
            {{ end }}
            <div class="img-overlay">
                <h3 class="big-heading">{{ .Title }}</h3>
            </div>
        </div>
    </a>
    <div class="summary">{{ .Summary | markdownify  }} ... <a href="{{ .RelPermalink }}">read more</a></div>
</div>

