{{ define "pre-main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <div class="wrapper main-logo-wrapper">
        <img src="../images/Common Nonsense Logo 1.0.png" alt="Common Nonsense Logo" class="main-logo">
        <a class="icon" href="#MainWrapper"><img src="../images/arrow-down-circle.svg" alt="More below"></a>
    </div>
{{ end }}
{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="homepage-section" id="LatestRelease">
        <h2 class="big-heading">Latest Music</h2>
        {{ range first 1 (where .Site.RegularPages "Section" "discography") }}
            {{ partial "album-listable" . }}
        {{ end }}
    </section>
    <section class="homepage-section" id="LatestBlog">
        <h2 class="big-heading">Latest Blog Post</h2>
        {{ range first 1 (where .Site.RegularPages "Section" "blog") }}
            {{ partial "blog-listable" . }}
        {{ end }}
    </section>
    <section class="homepage-section" id="TikTok">
        <h2 class="big-heading">Latest TikToks</h2>
        <div class="tiktok-wrapper-outer">
            <div class="tiktok-wrapper-inner">
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@cnbandmi" data-unique-id="cnbandmi" data-embed-type="creator"> <section> <a target="_blank" href="https://www.tiktok.com/@cnbandmi?refer=creator_embed">@cnbandmi</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
        </div>
    </section>
{{ end }}
