{{ define "pre-main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <div class="wrapper main-logo-wrapper">
        {{ $img := resources.Get "images/cn-logo.webp" }}
        {{ $img := $img.Resize "1000x" }}
        <img src="{{ $img.RelPermalink }}" 
             alt="Common Nonsense Logo" 
             class="main-logo">
        <a class="icon" href="#MainWrapper">
            <img src="../images/arrow-down-circle.svg" alt="More below">
        </a>
    </div>
{{ end }}
{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section id="LatestRelease">
        <h2 class="big-heading">Latest Music</h2>
        <!-- Grab the dicography section -->
        {{ $Discog := (where .Site.RegularPages "Section" "discography") }}
        <!-- Sort by reverse release date -->
        {{ range first 1 ($Discog.ByParam "releaseDate").Reverse  }}
            {{ partial "album-listable" . }}
        {{ end }}
    </section>
    <section id="LatestBlog">
        <h2 class="big-heading">Latest Blog Post</h2>
        {{ range first 1 (where .Site.RegularPages "Section" "blog") }}
            {{ partial "blog-listable" . }}
        {{ end }}
    </section>
    <section id="TikTok">
        <h2 class="big-heading">Latest TikToks</h2>
        <blockquote class="tiktok-embed" 
                    cite="https://www.tiktok.com/@cnbandmi" 
                    data-unique-id="cnbandmi" 
                    data-embed-type="creator"> 
            <section> 
                <a target="_blank" 
                   href="https://www.tiktok.com/@cnbandmi?refer=creator_embed">
                   @cnbandmi
                </a> 
            </section> 
        </blockquote> 
        <script async src="https://www.tiktok.com/embed.js"></script>
    </section>
{{ end }}
